applications/*/var/*
!applications/*/var/*/.gitkeep

src/*/Infrastructure/Symfony/Bundle/DependencyInjection/Resources/*_parameters.yml
src/*/Shared/Infrastructure/Symfony/Bundle/DependencyInjection/Resources/*_parameters.yml

/applications/mooc_backend/config/supervisor/*
!/applications/mooc_backend/config/supervisor/.gitkeep

/phpunit.xml

vendor/

.env

build/
