applications/*/var/cache/*
!applications/*/var/cache/.gitkeep

applications/*/var/logs/*
!applications/*/var/logs/.gitkeep

src/Infrastructure/Symfony/Bundle/DependencyInjection/Resources/infrastructure_parameters.yml
src/Context/*/Infrastructure/Symfony/Bundle/DependencyInjection/Resources/*_parameters.yml

/applications/api/config/supervisor/*
!/applications/api/config/supervisor/.gitkeep

/phpunit.xml

vendor/

.env
