<footer class="flex items-center justify-between flex-wrap bg-teal-900 p-5 mt-10">
    <div class="container mx-auto px-4">
        <p class="text-teal-200">
            🤙 CodelyTV - El mejor backoffice de la historia
        </p>
    </div>
</footer>
