<header>
    <nav class="flex items-center justify-between flex-wrap bg-teal-900 p-5">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a href="{{ path('home_get') }}">
                <img src="images/logo.png" alt="" width="150px">
            </a>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="#"
                   class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Usuarios
                </a>
                <a href="{{ path('courses_get') }}"
                   class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Cursos
                </a>
                <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                    Vídeos
                </a>
            </div>
            <div>
                <a href="#"
                   class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Entrar</a>
            </div>
        </div>
    </nav>
</header>
