parameters:

  video_database_driver: pdo_mysql
  video_database_host: 127.0.0.1
  video_database_port: 3306
  video_database_name: codely_video
  video_database_user: root
  video_database_password: null

  video_notification_email_username: 'your@email.com'
  video_notification_email_password: 'yourSecretPassword'

  slack_video_notification_hook_url: 'https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX'
  slack_video_notification_username: 'YourUsername'
  slack_video_notification_channel: '#your_cannel'
