parameters:
    bootstrap: %currentWorkingDirectory%/vendor/autoload.php
    includes:
        - %currentWorkingDirectory%/vendor/phpstan/phpstan-mockery/extension.neon
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Ternary operator condition is always true.#'
        - '#Static call to instance method CodelyTv.*#'
        - '#Strict comparison using === between.*#'
        - '#Call to an undefined method .*::shouldReceive#'
        - '#Call to an undefined method .*::shouldNotReceive#'
        - '#Parameter .*MockInterface given.#'
        - '#.*was not matched in reported errors.#'
